*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: rgb(36, 5, 26);
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 300px;

}
.button{
    display: flex;
}
.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background: rgb(61, 5, 53);
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

